<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>J2Preview</title>
        <link rel="stylesheet"
              href="{{ url_for('static',filename='dist/css/global.css') }}" />
    </head>
    <body class="dark">
        {% include 'NavBar.html' %}
        {% include 'J2Preview/J2Preview.html' %}
    </body>
</html>
