<div class="flex justify-around h-fit">
    <form method="post" class="flex justify-around basis-full">
        <div class="flex flex-col h-full basis-5/12">
            <div>{% include 'J2Preview/YamlInput/YamlInput.html' %}</div>
            <div class="mt-12 divider"></div>
            <div>{% include 'J2Preview/JinjaInput/JinjaInput.html' %}</div>
        </div>
        <div class="self-center">{% include 'J2Preview/JinjaButtonArray/JinjaButtonArray.html' %}</div>
        <div class="basis-5/12">{% include 'J2Preview/JinjaOutput/JinjaOutput.html' %}</div>
    </form>
</div>
